{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block todos %}
    <div class="row mb-5">
        <div class="search-form col-md-6 mx-auto">
            {{ form_start(form) }}
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ form_row(form.q) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    {{ form_row(form.order) }}
                </div>

                <div class="col-sm-12 col-md-12 col-lg-3">
                    <button class="btn btn-success w-100">search</button>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row" id="todos-container">
        {% for todo in todos %}
            <div class="todo-col col-12 col-sm-6 col-md-4 col-xl-2 mb-sm-4 mb-xs-4">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                {{ todo.todoname }}
                            </div>
                            <div class="col-4 text-end">

                                {% if app.user and app.user.id == todo.user.id %}
                                    <a title="edit todo" class="text-decoration-none text-secondary pr-4"
                                       href="{{ path('todo_edit', {'id': todo.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>

                                    <a onclick="return confirm('Delete?')" data-id="{{ todo.id }}"
                                       data-token="{{ csrf_token('ajax-todo-delete') }}"
                                       title="delete todo"
                                       class="text-decoration-none text-danger js-todo-delete" href="!#">
                                        &#x2715;
                                    </a>
                                {% endif %}

                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <form name="task" action="/profile/task/new" method="post">
                                <div id="task">
                                    <div class="mb-1">
                                        <input type="text" id="task_taskname" name="task[taskname]" required="required"
                                               maxlength="255" class="form-control" placeholder="add task...">
                                    </div>
                                    <input type="hidden" name="todo_id" value="{{ todo.id }}">
                                    <input type="hidden" id="task__token" name="task[_token]"
                                           value="{{ csrf_token('task') }}">
                                </div>
                                <button class="btn btn-success w-100">submit</button>
                            </form>
                        </div>
                        <div>
                            <ul>
                                {% for task in todo.tasks %}
                                    {% set check = task.status == 'completed' ? 'checked' : null %}
                                    {% set text_color = task.status == 'completed' ? 'text-success' : null %}

                                    <li class="{{ text_color }}">
                                        {# on verifie si l'utilisateur est l'auteur de la Todo ou de Task #}
                                        {% if app.user and ((app.user.id == todo.user.id) or (app.user.id == task.user.id)) %}


                                        <input class="task-status" {{ check }} data-id="{{ task.id }}" data-token="{{ csrf_token('task-status') }}"  type="checkbox" name="task_status">
                                        {% endif %}

                                        {{ task.taskname }}
                                        {% if app.user and app.user.id == task.user.id %}
                                            <a title="delete task"
                                               data-id="{{ task.id }}"
                                               data-token="{{ csrf_token('ajax-task-delete') }}"
                                               href="!#" class="text-danger text-decoration-none js-task-delete">&#x2715;</a>
                                            <a title="edit task" class=" text-decoration-none" href="{{ path('task_edit', {id: task.id}) }}">edit</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}